// nextflow.config

process {
        executor = 'slurm'

        withLabel: 'SN19_nf_lib' {
                queue = 'k2-hipri'
                cpus = 64
                memory = '64 GB'
                time = '03:00:00'
                nodes = 1
                labels = 'SN-nf'
                errorStrategy = 'retry'
        }

        withLabel: 'SN19_nf_combine_lib' {
                queue = 'k2-hipri'
                cpus = 32
                memory = '256 GB'
                time = '3:00:00'
                nodes = 1
                labels = 'SN-nf'
                errorStrategy = 'retry'
        }

        withLabel: 'SN19_nf_dia_search' {
                queue = 'k2-hipri'
                cpus = 64
                memory = '128 GB'
                time = '03:00:00'
                nodes = 1
                labels = 'SN-nf'
                errorStrategy = 'retry'
        }

        withLabel: 'SN19_nf_combine_sne' {
                queue = 'k2-hipri'
                cpus = 32
                memory = '256 GB'
                time = '3:00:00'
                nodes = 1
                labels = 'SN-nf'
                errorStrategy = 'retry'
        }
}

/*
process {
	executor = 'slurm'
	queue = 'k2-hipri'
	cpus = 64
	memory = '256 GB'
	time = '3:00:00'
	nodes = 1
	labels = 'SN-nf'
	errorStrategy = 'retry'
}
*/

executor {
	queueSize = 6
	submitRateLimit = '1/5sec'
}

params {
	SPEC_VER= "19.2.240905.62635"
	license = '***REMOVED***'
	spec_bin = "/users/3054755/bin/spectronaut/Spectronaut_$SPEC_VER/binaries/Spectronaut/bin/SpectronautCMD.dll"
	
	baseDir = "${baseDir}"
	rawfile_dir = "${baseDir}/raw_d"
	lib_output = "${baseDir}/out_lib"
	dia_output = "${baseDir}/out_dia"
	tmp_dir = "${baseDir}/tmp"
	log_dir	= "${baseDir}/logs"
	psar_lib = "${lib_output}/libs"
	
	JOB = "241121_Niamh_THP1_MZ1_SN_nf_DIA"
	
	FASTA = "${baseDir}/uniprotkbHUMAN20240104.bgsfasta"

	LIB_IN = "${psar_lib}/${JOB}.kit" // set the path to input library for dia analysis

	// EXT_PSAR = psar_lib
	
	// PROP_SEARCH = "${baseDir}/Astral_SILAC_MMCC.prop"

	// PROP_LIB = "${baseDir}/lib_gen.prop" // this one does not work for reasons I don't understand (TODO) but not needed imminently

	// PROP_DIA= "${baseDir}/Astral_SILAC_MMCC.prop"  // DIA Analysis and direcDIA (inc. extended) workflow properties will be added via -s flag. Same command line option but need to be exported from correct tab in spectronaut

	// COND_SETUP= "${baseDir}/ConditionSetup.tsv"   // condition setup. If you want statistics to be calculated then add condition setup file. A .tsv template can be exported from spectronaut gui.

	// REPORT= "${baseDir}/240819_HY_matrix_matched_QUB_Pro2_inj_0.75_dirDIA" // if you want automatic report generation then add a template here (*.rs)
}

log {
    file = '${params.JOB}.log'
    level = 'INFO'
}

manifest {

    name	= 'Spectronaut-nf'
    author	= 'Collins_lab'
    homePage	= 'https://github.com/BenCollinsLab/Spectronaut-nf'
    description	= 'Execute Multiple Spectronaut Searches to High-Performance Cluster nodes'
    mainScript	= 'main.nf'
    nextflowVersion	= '24.04.3'
    version	= 'v1.0.0'

}

