// nextflow.config

process {
	executor = 'slurm'
	queue = 'k2-hipri'
	cpus = 64
	memory = '64 GB'
	time = '03:00:00'
	nodes = 1
	labels = 'SN-nf'
	errorStrategy = 'retry'
}

executor {
	queueSize = 6
}
 
conda {
    enabled = false                  
}

params {
    SPEC_VER= "19.1.240806.62635"
    license = 'spectronaut_license'
    spec_bin = "path/to/your/SpectronautCMD.dll"
        
	baseDir = "${baseDir}"
    rawfile_dir = "${baseDir}/raw_d"
	lib_output = "${baseDir}/out_lib"
	dia_output = "${baseDir}/out_dia"
	tmp_dir = "${baseDir}/tmp"
	log_dir	= "${baseDir}/logs"
	psar_lib = "${lib_output}/libs"

	JOB = "Your_Parallel_Nextflow_Job_Submission"
	
	FASTA = "${baseDir}/uniprot_sprot_2022-01-07_YEAST_HUMA_contam.bgsfasta"
	
	// workflow_type = "lib" // available dir, lib, die

	// LIB_OUT= "${lib_output}/SN_dirDIA_lib.kit"

	// set the path to input library for dia analysis

	LIB_IN = "${psar_lib}/${JOB}.kit"

	// EXT_PSAR = "${baseDir}/library_search_archive.psar"
	
	// PROP_SEARCH = "${baseDir}/additional_or_modified_parameters.prop"

	// PROP_LIB = "${baseDir}/lib_gen.prop" // this one does not work for reasons I don't understand (TODO) but not needed imminently

	// DIA Analysis and direcDIA (inc. extended) workflow properties
	// will be added via -s flag
	// same command line option but need to be exported from correct tab in spectronaut

	// PROP_DIA= "${baseDir}/additional_or_modified_parameters.prop"

	// condition setup
	// if you want statistics to be calculated then add condition setup file
	// .tsv template can be exported from spectronaut gui

	// COND_SETUP= "${baseDir}/ConditionSetup.tsv"

	// if you want automatic report generation then add a template here (*.rs)

	// REPORT= "${baseDir}/your_report_template.rs"
}

log {
    file = '${params.JOB}.log'
    level = 'INFO'
}

manifest {

    name	= 'Spectronaut-nf'
    author	= 'Collins_lab'
    homePage	= 'https://github.com/BenCollinsLab/Spectronaut-nf'
    description	= 'Execute Multiple Spectronaut Searches to High-Performance Cluster nodes'
    mainScript	= 'main.nf'
    nextflowVersion	= '24.04.3'
    version	= 'v1.0.0'

}

